<div fxFlex fxLayout="column">
  <div fxLayout="row wrap">

    <div fxFlex="25" fxLayout="column" *ngFor="let character of allCharacters | async" style="padding: 5px;">

      <mat-card >
        <img src={{character.thumbnail.path}}.{{character.thumbnail.extension}} alt="{{character.name}}" width="200" height="auto" >

        <mat-card-title>
          {{character.name}}
        </mat-card-title>

        <mat-card-footer>
          <a href="{{character.urls[0].url}}" target="_blank" fxFlex mat-flat-button color="primary">Detalhes</a>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
